
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DevOps Trends</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
 <!-- NAVIGATION -->
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
		 
		<li class="name">
		<h1>
		<a href="#">
		</a>
		</h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
		</ul>
		<section class="top-bar-section">
		 
			<ul class="right">
			<li class="divider"></li>
				<!-- News -->
				<li class="has-dropdown">
					<a href="#">News</a>
					<ul class="dropdown">
						<!-- <li><label>Section Name</label></li>
						<li class="has-dropdown">
						<a href="#" class="">Has Dropdown, Level 1</a>
						<ul class="dropdown">
						<li><a href="#">Dropdown Options</a></li>
						<li><a href="#">Dropdown Options</a></li>
						<li><a href="#">Level 2</a></li>
						<li><a href="#">Subdropdown Option</a></li>
						<li><a href="#">Subdropdown Option</a></li>
						<li><a href="#">Subdropdown Option</a></li>
						</ul>
						</li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li class="divider"></li>
						<li><label>Section Name</label></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li><a href="#">Dropdown Option</a></li>
						<li class="divider"></li>
						<li><a href="#">See all &rarr;</a></li> -->
					</ul>
				</li>
				<!-- News -->
				
				<!-- Jobs -->
				<li class="divider"></li>
				<li><a href="#">Jobs</a></li>
				<li class="divider"></li>
				<li class="has-dropdown">
				<!-- Jobs -->

				<!-- Tutorials -->
					<a href="#">Tutorials</a>
					<ul class="dropdown">
					<!-- <li><a href="#">Dropdown Option</a></li>
					<li><a href="#">Dropdown Option</a></li>
					<li><a href="#">Dropdown Option</a></li>
					<li class="divider"></li>
					<li><a href="#">See all &rarr;</a></li> -->
				<!-- Tutorials -->

				</ul>
			</li>
			</ul>
		</section>
	</nav>
<!-- NAVIGATION -->

 <!-- SLIDER -->
	<div class="row">
		<div class="large-12 columns">
		 
		<div class="row">
		<div class="large-12 hide-for-small">
		<div id="featured" data-orbit>
		<img src="http://placehold.it/1200x500&text=News" alt="slide image">
		<img src="http://placehold.it/1200x500&text=Jobs" alt="slide image">
		<img src="http://placehold.it/1200x500&text=Tutorials" alt="slide image">
		<img src="http://placehold.it/1200x500&text=DevOps Community" alt="slide image">

		</div>
		</div>
	</div>
<!-- SLIDER -->
 
 		<%= image_tag "devops.jpg" %>	

<div class="row">
	<div class="large-12 columns show-for-small">
		<%= image_tag "devops.jpg" %>	
	</div>
</div><br>
 
<div class="row">
<div class="large-12 columns">
<div class="row">
 
<div class="large-4 small-6 columns">
<h4>Launching Soon</h4><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5><a href="#">News</a></h5>
<h6 class="subheader show-for-small">News</h6>
</div>
</div><hr>
<div class="hide-for-small">
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="#">Jobs</a></h5>
</div>
</div><hr>
<div class="row">
<div class="large-1 column">
<img src="http://placehold.it/50x50&amp;text=[img]">
</div>
<div class="large-9 columns">
<h5 class="subheader"><a href="#">Tutorials</a></h5>
</div>
</div><hr>
<div class="row">
	<div class="large-1 column">
	<img src="http://placehold.it/50x50&amp;text=[img]">
	</div>
	<div class="large-9 columns">
	<h5 class="subheader"><a href="#">DevOps Community</a></h5>
	</div>
</div>
<hr>
<div class="row">
	<div class="large-1 column">
	<img src="http://placehold.it/50x50&amp;text=[img]">
	</div>
	<div class="large-9 columns">
	<h5 class="subheader"><a href="#">DevOps Q&A</a></h5>
	</div>
</div>
</div>
</div>
 
 
<div class="large-4 small-6 columns">
<img src="devops.jpg">
</div>
 
 
<div class="large-4 small-12 columns">
<h4>Latest Feed</h4><hr>
<!-- <div class="panel">
<h5><a href="#">Post Title 1</a></h5>
<h6 class="subheader">
Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
</h6>
<h6><a href="#">Read More »</a></h6>
</div>
<div class="panel hide-for-small">
<h5><a href="#">Post Title 2 »</a></h5>
</div>
<div class="panel hide-for-small">
<h5><a href="#">Post Title 3 »</a></h5>
</div>
<a href="#" class="right">Go To Blog »</a> -->
</div>
 
</div>
</div>
</div>
 
 
<footer class="row">
<div class="large-12 columns"><hr>
<div class="row">
<div class="large-6 columns">
<p> DevOpsTrends&copy;2016</p>
</div>
<div class="large-6 small-12 columns">
<ul class="inline-list right">
<li><a href="#">News</a></li>
<li><a href="#">Jobs</a></li>
<li><a href="#">Tutorials</a></li>
<li><a href="#">Community</a></li>
</ul>
</div>
</div>
</div>
</footer>
 
</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
